body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e4e5e3;
  color: white;
}
h1 {
  font-size: 3em;
  margin: 0.5em;
}
h1,
h2 {
  font-weight: 750;
}
/* impostazione generale */
header,
footer {
  background-color: #27313d;
}
header img {
  width: 10%;
  margin: 0.5em 0 0.5em 2em;
}
nav,
#backToTop {
  background-color: #3e5065;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
nav ul {
  margin-left: 1.5em;
}
nav ul li {
  margin: 0.5em;
  display: inline-block;
}
/* header */
main {
  margin: 2em;
}
#shopAll {
  background-color: orangered;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 2em;
  color: white;
  font-size: 0.6em;
}

#holiday {
  background-image: url("../images/bg-image.png");
  padding: 3em;
  text-align: center;
  color: white;
}

#holiday h2 {
  font-size: 1.3em;
}
section {
  background-color: white;
  color: black;
  margin-top: 2em;
}
section a {
  color: #1060af;
  margin-left: 0.8em;
  font-weight: 700;
}
section h3,
p {
  display: inline-block;
}
section h3 {
  font-size: 1.6em;
}
#text1 {
  padding: 1em;
}
.gift {
  height: 400px;
  width: 325px;
  border-radius: 15px;
  box-shadow: 5px 10px 20px #808080;
  overflow: hidden;
  display: inline-block;
  margin: 1em;
}
.secondgift {
  overflow: hidden;
  width: 100%;
  height: 600px;
}
.description {
  margin: 0.5em;
  background-color: #e4e5e3;
  text-align: center;
}
/* main */
#backToTop a {
  text-decoration: underline;
  font-weight: 700;
}
#backToTop {
  padding: 1.3em;
}
#logo2 {
  padding: 5em;
}
#logo2 img {
  width: 200px;
}
footer {
  text-align: center;
}
/* footer */
